Checks: >
    -*,

    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    misc-*,
    performance-*,
    portability-*,
    readability-*,
    modernize-*,
    cert-*,

    -concurrency-mt-unsafe,
    -readability-identifier-length,
    -bugprone-easily-swappable-parameters
